* {
    margin: 0;
}
body {
    background-color: rgb(180,206,218);
    background-image: url("../img/sky-edit-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.nav li{
    display: inline;
    margin: 5px;
}
.nav ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.nav {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
    border: 1px solid black;
    float: right;
    margin-right: 10%;
}
li {
    list-style: none;
}
div {
    text-align: center;
    
}
.table-wrap{
    clear: both;
    overflow: auto;
    margin: auto;
    margin-left: 13%;
}
#salmon img{
    width: 40%;
    height: 30%;
    float: left;

}

#form-wrapper {
    padding-top: 110px;
}

table {
    empty-cells: hide;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}
#cookie-data {
    border-collapse: collapse;
    margin-top: 1%;
}
#location-name{
    background-color: lightgray;
    text-align: left;
}
#cookie-data th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}
#cookie-data th, td {
    text-align: center;
}
#table-top {
    background-color: lightblue;
    height: 50px;
}
#total-per-hour {
    background-color: lightyellow;
    border: 1px solid black;
    color: red;
}
#store-total {
    background-color: lightyellow;
    color: red;
    border: 1px solid black;
}
#net-total {
    background-color: yellow;
    border: 1px solid black;
}
#hours {
    float: right;
    width: 30%;
    margin-top: 18%;
 
    
}
#info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: wheat;
    clear: right;
    float: right;
    width: 30%;
    margin-top: 2%;
}

#welcome-quote {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(62,51,61);
    background-color: rgba(180,206,218,0.9);
    height: auto;
    padding-top: 40px;
    margin: auto;
    overflow: auto;
    position: fixed;
}
#box-top {
    font-size: 25px;
    color: rgb(62,51,61);
    background-color: rgba(180,206,218,0.9);
    width: 100%;
    height: auto;
    padding-top: 40px;
    margin: auto;
    overflow: auto;
    position: fixed;
}
.spot-two #info, #hours {
    background-color: rgba(180,206,218,0.9);

}   
h1{
    text-align: center;
}