* {
    margin: 0;
}
body {
    background-color: rgb(160,126,102);
}
.nav li{
    display: inline;
    margin: 5px;
}
.nav ul{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

li {
    list-style: none;
}
div {
    text-align: center;
    
}
.table-wrap{
    overflow: auto;
    margin: auto;
    margin-left: 13%;
}
img{
    width: 50%;
    height: 50%;
}
table {
    empty-cells: hide;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif;
}
#cookie-data {
    border-collapse: collapse;
    margin-top: 30px;
}
#store-name{
    background-color: lightgray;
    text-align: left;
}
#cookie-data th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}
#cookie-data th, td {
    text-align: center;
}
#table-top {
    background-color: lightblue;
    height: 50px;
}
#total-per-hour {
    background-color: lightyellow;
    border: 1px solid black;
    color: red;
}
#store-total {
    background-color: lightyellow;
    color: red;
    border: 1px solid black;
}
#net-total {
    background-color: yellow;
    border: 1px solid black;
}
#hours {
    float: left;
    margin: 0 5px;
}
#info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: wheat;
    float: left;
    width: 30%;
    margin: 0 15px;
}

#welcome-quote {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(52,51,23);
    height: 120px;
    padding-top: 40px;
    margin: auto;
    overflow: auto;
}
h1{
    text-align: center;
}